<button class="btn btn-@Color" type="submit" disabled="@IsBusy" onclick="@OnClickCallback" @onclick:preventDefault="@PreventDefault"><i class="fal fa-@Icon"></i><span>@DisplayCaption</span></button>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public bool IsBusy { get; set; }

    private string DisplayCaption
    {
        get
        {
            if (IsBusy) return IsBusyCaption;
            return Caption;
        }
    }

    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public string IsBusyCaption { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    private bool PreventDefault
    {
        get
        {
            return OnClickCallback.HasDelegate;
        }
    }

    public BusyButton()
    {
        Color = "primary";
        IsBusy = false;
    }
}